.appWrapper {
  display: grid;
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: "header header"
                        "navbar main";
}

.mainContent {
  grid-area: main;
}